@media screen and (max-width:576px) {
    
    html{
        font-size: 50%;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .navlist{

    }
    .div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bmisec2{
        display: flex;
        flex-direction: column;
    }
    .parent-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .medical-teems{
        display: flex;
        flex-direction: column;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
}